.menu {
    /*background-color: chocolate;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 0.5px solid #CCD4E1;
}

.menu-item {
    display: flex;
    height: 3rem;
    width: 10rem;
}

.menu-item-active {
    color: #1DA1F2;
}

.menu-item-icon {
    top: -1px;
}

.menu-item-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-left: 1rem;
    margin-top: 5px;
}
